
brand-primary = rgb(96, 165, 250, 1)
gray-dark = #f3f4f6
gray = #9ca3af
white-faded = rgba(255, 255, 255, .8)
gray-light = #1f2937
color-border = #334155
color-meta = #94a3b8

font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-serif = "Georgia", serif
